.function#root{
    display: flex;
    flex-direction: column;
}

.function.button {
    background-color: var(--main-layer-transparent);
    border: none;
    margin: 5px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: 3rem;
}

.function.button:hover {
    border: none;
    background-color: var(--main-layer-transparent-hover);
}

.function.button:active {
    background-color: var(--main-layer-transparent-active);
}

.function.button:focus {
    outline: none;
    border: white;
    border-width: 1px;
    border-style: dashed;
}