<!DOCTYPE html>
<html>

<head>
    <title>Wayne Music</title>
    <script type='text/javascript'>
        window.jQuery = window.$ = require('jquery');
    </script>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="fontawesome-free-5.11.2-web/css/all.css">
</head>

<body>
    <div id="root-container">
        <div id="left-side-dock" class="card layer-transparent">
            <button id="page-changing-cover" class="plain sqr1"><i class="fas fa-image"></i></button>
            <button id="page-changing-list" class="plain sqr1"><i class="fas fa-list"></i></button>
            <button id="page-changing-lyric" class="plain sqr1"><i class="fas fa-align-left"></i></button>
        </div>
        <div id="bottom-side-dock" class="card layer-transparent">
            <div id="audio-controls-container">
                <div id="audio-controls-metadata" class="card">
                    <div id="metadata-title" class="metadata-h1">Title</div>
                    <div id="metadata-album" class="metadata-h2">Album</div>
                </div>
                <div id="audio-controls" class="card layer-transparent">
                    <div id="audio-controls-btns" class="card">
                        <button id="audio-controls-playpause-btn" class="plain sqr1">
                            <i class="fas fa-play"></i>
                        </button>
                        <button id="audio-controls-lastone-btn" class="plain sqr2">
                            <i class="fas fa-step-backward"></i>
                        </button>
                        <button id="audio-controls-nextone-btn" class="plain sqr2">
                            <i class="fas fa-step-forward"></i></i>
                        </button>
                        <button id="audio-controls-random-btn" class="plain sqr3">
                            <i class="fas fa-random"></i>
                        </button>
                        <button id="audio-controls-repeat-btn" class="plain sqr3">
                            <div id="repeat-btn-icon-layout">
                                <i id="repeat-btn-icon" class="unicode-symbol">&#x2B8C;</i>
                                <span id="repeat-btn-addition">1</span>
                            </div>
                        </button>
                        <input type="range" id="audio-controls-volume" class="slider" min="0" max="1000"
                            value="0"></input>
                    </div>
                    <div id="audio-controls-slider-container" class="card">
                        <div id="audio-controls-slider-value">00:00</div>
                        <input type="range" id="audio-controls-slider" class="slider" min="0" max="1000"
                            value="0"></input>
                        <div id="audio-controls-slider-popuphint">00:00</div>
                        <div id="audio-controls-slider-max"><span class="min">00</span><span>:</span><span
                                class="sec">00</span></div>
                    </div>

                </div>

            </div>
        </div>
        <div id="body-container" class="card layer-transparent">
        </div>
    </div>
    <script type='text/javascript' src='dist/Renderer/AppIPC.js'></script>
    <script type='text/javascript' src='dist/Renderer/Data.js'></script>
    <script type='text/javascript' src='dist/Renderer/Render.js'></script>
    <script type='text/javascript' src='dist/Renderer/UserInterface.js'></script>
    <script type='text/javascript'>
    bodyCachedLoad('cover')
    </script>
</body>

</html>