<div class="cover-background"></div>
<img id="metadata-cover-list">
<div id="list-wrapper">
    <div id="list-container">
    </div>
</div>
<script type="text/javascript">
    function ckeckItemInList(idx, data) {
        $('#list-container').children().each((_, ele) => {
            $(ele).find('#list-item-checkbox').prop('checked', false)
            if(_==idx) $(ele).find('#list-item-checkbox').prop('checked', true)
        })
        _listSelectedAudio = data
        _listSelectedAudioIdx = idx
        updateCover(getSelectedAudio().picture)
        updateCoverBackground(getSelectedAudio().picture)
        updateCoverList(getSelectedAudio())
    }
    function updateCurrentList(list) {
        $('#list-container').empty()
        list.forEach((element, idx) => {
            let playing = ""
            if (element.url == Responds.Current.url) {
                playing = "▶"
            }
            console.log(Responds.Current.url)
            let newele = $(`
            <div id="list-item-${idx}" class="list-item">
                <input type="checkbox" id="list-item-checkbox" class="list-item-property"></input>
                <span id="list-item-idx" class="list-item-property">${idx + 1}.</span>
                <span id="list-item-playing" class="list-item-property">${playing}</span>
                <span id="list-item-title" class="list-item-property">${element.title}</span>
                <span id="list-item-album" class="list-item-property">${element.album}</span>
                <span id="list-item-duration" class="list-item-property">${duration2string(element.duration)}</span>
                <span id="list-item-border" class="list-item-property"></span>
            </div>
            `)
            newele.find('#list-item-checkbox').change((e) => {
                if (e.currentTarget.checked) {
                    console.log(`checked ${idx} ${IsShiftKeyHolding}`)
                }
            })
            newele.on('dblclick', (e) => {
                w.AppIpc.Send2Audio("Remote", "Current", element)
            })
            newele.on('click', (e) => {
                ckeckItemInList(idx, element)
            })
            $('#list-container').append(
                newele
            )
        });
    }
    if (!OnResponds.CurrentList) {
        OnResponds.CurrentList = (list) => {
            updateCurrentList(list)
        }
    }
    if (Responds.CurrentList) {
        updateCurrentList(Responds.CurrentList)
    } else {
        AppIpc.Send2Audio("Query", "CurrentList")
    }
    if (typeof _listSelectedAudio === 'undefined') {
        var _listSelectedAudio = null;
    }
    if (typeof _listSelectedAudioIdx === 'undefined') {
        var _listSelectedAudioIdx = null;
    }
    function getSelectedAudio() {
        if (_listSelectedAudio) return _listSelectedAudio;
        return Responds.Current
    }
    function updateCoverList(data) {
        $('img#metadata-cover-list').attr('src', data.picture)
    }
    if (!On_Up_Press) {
        On_Up_Press = (ev) => {
            if (!_listSelectedAudio) return;
            if (_listSelectedAudioIdx == 0) return;
            _listSelectedAudioIdx -= 1;

            Responds.CurrentList.forEach((data, idx) => {
                if (idx == _listSelectedAudioIdx) {
                    ckeckItemInList(idx, data)
                }
            })
        }
    }
    if (!On_Down_Press) {
        On_Down_Press = (ev) => {
            if (!_listSelectedAudio) return;
            if (_listSelectedAudioIdx == Responds.CurrentList.length - 1) return;
            _listSelectedAudioIdx += 1;
            Responds.CurrentList.forEach((data, idx) => {
                if (idx == _listSelectedAudioIdx) {
                    ckeckItemInList(idx, data)
                }
            })
        }
    }

    updateCover(getSelectedAudio().picture)
    updateCoverBackground(getSelectedAudio().picture)
    updateCoverList(getSelectedAudio())
</script>