#root.cover{
    width: 100%;
    height: 100%;
    display: grid
}
img.cover{
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    max-width: 500px;
    background-color: var(--main-layer-transparent);
    outline: thick solid var(--main-layer-transparent-d);
}

#wave.cover{
    grid-row: 1;
    grid-column: 1;
    margin-top: auto;
    height: 50%;
    display: grid;
    grid-auto-flow: column;
}

.cover.wavebar{
    margin-top: auto;
    background: var(--main-layer-transparent);
}



