.root.drop-down-toast {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
}


.toast.drop-down-toast {
    font-size: 2rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--main-bg-color);
    border-style: solid;
    border-color: var(--main-fg-color);
    border-width: 1px;
    border-radius: 5px;
}

.toast-enter.drop-down-toast{
    opacity: 0;
}
.toast-enter-active.drop-down-toast{
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.toast-exit.drop-down-toast{
    opacity: 1;
}
.toast-exit-active.drop-down-toast{
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.lds-facebook.drop-down-toast {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 24px;
}

.lds-facebook.drop-down-toast div {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 4px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook.drop-down-toast div:nth-child(1) {
    left: 0px;
    animation-delay: -0.24s;
}

.lds-facebook.drop-down-toast div:nth-child(2) {
    left: 8px;
    animation-delay: -0.12s;
}

.lds-facebook.drop-down-toast div:nth-child(3) {
    left: 16px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 4px;
        height: 20px;
    }
    50%, 100% {
        top: 8px;
        height: 12px;
    }
}