.imageBackground#root{
    display: grid;
    opacity: 0.5 ;
    background-size: contain;
    background-position: center;
    filter: blur(25px);
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}
