.player#root{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.player#metadata{
    grid-column: 1;
    display: grid;
    overflow:hidden;
    white-space: nowrap
}


.player#btns{
    display: flex;
    flex-direction: row;
}

.player#control{
    grid-column: 2;
    display: grid
}

.player.button {
    background-color: var(--main-layer-transparent);
    border: none;
    margin: 5px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: 3rem;
}

.player.button:hover {
    border: none;
    background-color: var(--main-layer-transparent-hover);
}

.player.button:active {
    background-color: var(--main-layer-transparent-active);
}

.player.button:focus {
    outline: none;
    border: white;
    border-width: 1px;
    border-style: dashed;
}

.player.metadata.title{
    position: relative;
    font-size: 3rem;
}
.player.metadata.album{
    position: relative;
    font-size: 2rem;
}

.title-moving1.metadata.player{
    width: fit-content;
    position: absolute;
    padding-right: 25px;
}
.title-moving2.metadata.player{
    width: fit-content;
    position: absolute;
    padding-right: 25px;
}


.album-moving1.metadata.player{
    width: fit-content;
    position: absolute;
    padding-right: 25px;
}
.album-moving2.metadata.player{
    width: fit-content;
    position: absolute;
    padding-right: 25px;
}


div.player-icon[data-icon="play_arrow"]{
    width: 25px;
    height: 25px;
    background-position: center;
    background: url(
        'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="white"><polygon points="5 5 5 20 20 12.5"></polygon></svg>'
    );
}
div.player-icon[data-icon="pause"]{
    min-width:25px;min-height:25px;
    background-position: center;
    background-repeat: no-repeat;
}

.player.button{
    display: grid;
}
.player.button-icon{
    margin: auto;
    fill: var(--main-fg-color);
}
.player.button-icon[data-enable="false"]{
    margin: auto;
    fill: var(--main-layer-transparent-d)
}