.root.list {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    max-height: -webkit-fill-available;
}

.wrapper.list {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}


.cover.list {
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    max-width: 350px;
    margin-left: auto;
    margin-top: auto;
    opacity: 0.5;
    background-color: var(--main-layer-transparent);
    outline: thick solid var(--main-layer-transparent-d);
}

.react-audio-list-select--item{
    display: grid;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 2.0rem;
    white-space: nowrap;
    grid-template-columns: min-content fit-content(25px) 1fr 1fr fit-content(100px);
    grid-template-rows: 1fr;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-color: var(--main-layer-transparent);
    border-style: solid;
}

.react-audio-list-select--item.is-focused{
    background-color: var(--main-layer-transparent-hover);
}
.react-audio-list-select--item.is-selected{
    background-color: var(--main-layer-transparent-active);
}
.react-audio-list-select--item.is-selected.is-focused{
    background-color: var(--main-layer-transparent-active-hover);
}

.react-audio-list-select--item-property.list {
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}



