.root.lyric{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.moving-panel.lyric{
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    height: 0px;
    position: absolute;
    top: 0px;
}

.div.lyric{
    font-size: 2.0rem;
    opacity: 0.2;
    transition: opacity 0.5s;
    padding-bottom: 1.5rem;
}

.div.lyric[custome-highlighted=true]{
    font-size: 2.0rem;
    opacity: 1;
    padding-bottom: 1.5rem;
}

.lyric.ruby{
    font-size: 1.5rem;
}