#root.waveForm{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    overflow: hidden;
    padding: 10px;
}

#cover.waveForm{
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    max-width: 350px;
    margin-left: auto;
    margin-top: auto;
    opacity: 0.5;
    background-color: var(--main-layer-transparent);
    outline: thick solid var(--main-layer-transparent-d);
}

#wave.waveForm{
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
}

