html, body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}


div#root-container {
    display: grid;
    border: none;
    height: 100%;
    width: 100%;
    grid-template-columns: fit-content(100px) 1fr;
    grid-template-rows: 1fr fit-content(200px);
}

div#left-side-dock{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-flow: column;
}

div#bottom-side-dock{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

div#audio-controls-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

div#audio-controls-metadata{
    grid-column: 1;
}

div#audio-controls{
    display: grid;
    grid-column: 2;
    grid-template-rows: 1fr fit-content(30px);
}
div#audio-controls-btns{
    grid-row: 1;
    display: flex;
    align-items: center;
}
div#audio-controls-slider-container{
    display: grid;
    grid-row: 2;
    grid-auto-columns: fit-content(10px) 1fr fit-content(10px);
}
div#audio-controls-slider-value{
    grid-column: 1;
}
input[type="range"]#audio-controls-slider{
    grid-column: 2;
}
div#audio-controls-slider-max{
    grid-column: 3;
}

div#audio-controls-slider-popuphint{
    position: fixed;
    z-index: 1;
    opacity: 0;
}

input[type="range"]#audio-controls-slider:hover + div#audio-controls-slider-popuphint{
    opacity: 1;
}
div#list-wrapper{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    max-height: 80vh;
}

div#list-container{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
}

