:root {
    --main-bg-color: darkred  ;
    --main-fg-color: white;
    --main-layer-transparent: rgba(255, 255, 255, 0.1);
    --main-layer-transparent-d: rgba(255, 255, 255, 0.2);
    --main-active-color: rgb(255, 127, 80);
    --main-layer-transparent-hover: rgba(255, 255, 255, 0.2);
    --main-layer-transparent-hover-d: rgba(255, 255, 255, 0.3);
    --main-layer-transparent-active: rgba(255, 127, 80, 0.5);
}

html, body {
    font-size: 10px;
    font-family: 'Microsoft JhengHei';
    text-shadow: 2px 2px 3px var(--main-bg-color);
    user-select: none;

}
img{
    -webkit-user-drag: none;
}

body {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
}

.material-icons {
    color: var(--main-fg-color);
    text-shadow: 2px 2px 3px var(--main-bg-color);
    font-size: inherit;
}

#left-side-dock i {
    font-size: 30px;
}


.card {
    margin: 5px;
    border-radius: 5px;
}

.layer-transparent {
    background-color: var(--main-layer-transparent)
}

.plain {
    background-color: var(--main-layer-transparent);
    border: none;
    margin: 5px;
    border-radius: 5px;
}

.plain.w1 {
    width: 30px;
    font-size: 3rem;
}

.plain.sqr1 {
    width: 50px;
    height: 50px;
    font-size: 3rem;
}

.plain.sqr2 {
    width: 40px;
    height: 40px;
    font-size: 2.5rem;
}

.plain.sqr3 {
    width: 30px;
    height: 30px;
    font-size: 2rem;
}

.plain:hover {
    border: none;
    background-color: var(--main-layer-transparent-hover);
}

.plain:active {
    background-color: var(--main-layer-transparent-active);
}

.plain:focus {
    outline: none;
    border: white;
    border-width: 1px;
    border-style: dashed;
}

.metadata-h1 {
    font-size: 3rem;
}

.metadata-h2 {
    font-size: 2rem;
}

#metadata-cover {
    border-radius: 10px;
}

#metadata-cover-list {
    border-radius: 10px;
    filter: opacity(0.5) blur(1px);
}

#background-cover {
    opacity: 0.5;
    background-size: contain;
    background-position: center;
    filter: blur(25px);
}

#audio-controls-slider-value {
    font-size: 1.2rem;
    margin-right: 10px;
}

#audio-controls-slider-max {
    font-size: 1.2rem;
    margin-left: 10px;
}

#audio-controls-slider-popuphint {
    background-color: var(--main-layer-transparent);
    padding: 5px;
    font-size: 1.2rem;
}

.list-item {
    display: grid;
    max-width: 100%;
    padding: 10px 0px;
    font-size: 2.0rem;
    white-space: nowrap;
    grid-template-columns: min-content min-content 1fr minmax(40%, 40%) fit-content(100px);
    grid-template-rows: 1fr;
}

.list-item:nth-child(odd) {
    background-color: var(--main-layer-transparent);
}

.list-item:hover {
    background-color: var(--main-layer-transparent-hover);
}

.list-item-property {
    grid-row: 1;
    overflow: hidden;
    padding-right: 10px;
}

#list-item-idx {
    margin-left: 10px;
    grid-column: 1;
    opacity: 1;
    cursor: pointer;
    z-index: -1;
}

.list-item:hover>#list-item-idx {
    opacity: 0;
}

#list-item-checkbox {
    margin-left: 10px;
    margin-top: 10px;
    grid-column: 1;
    opacity: 0;
    cursor: pointer;
}

.list-item:hover>#list-item-checkbox {
    opacity: 1;
}

#list-item-playing {
    grid-column: 2;
    margin-right: 10px;
}

#list-item-title {
    grid-column: 3;
}

#list-item-album {
    grid-column: 4;
}

#list-item-duration {
    grid-column: 5;
}

#list-item-border {
    grid-column-start: 1;
    grid-column-end: 6;
    z-index: -1;
}

#list-item-checkbox:checked~#list-item-border {
    background-color: var(--main-layer-transparent-active);
}

.slider {
    -webkit-appearance: none;
    outline: none;
    background: var(--main-layer-transparent);
    height: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2px;
    height: 15px;
    background-color: var(--main-layer-transparent);
}
.slider:focus {
    outline: none;
    border: white;
    border-width: 1px;
    border-style: dashed;
}


